/* Importação da fonte Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Resetando margens, preenchimentos, e outras configurações globais para todos os elementos */
* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* Definindo variáveis de cores principais */
:root {
    --main-color: #fd4646;
    --text-color: #171427;
    --bg-color: #fff;
}

/* Imagens devem ter 100% da largura de seus containers */
img {
    width: 100%;
}

/* Container que limita o conteúdo da página a 1068px e centraliza */
.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

/* Adicionando espaçamento nas seções da página */
section {
    padding: 4rem 0 3rem;
}

/* Estilizando o corpo da página com fundo escuro */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #2d2d34;
}

/* Definindo o layout e max-width do conteúdo no cabeçalho */
.conteudo-cabecalho {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

/* Estilizando a barra de navegação fixa no topo */
.barra-navegacao {
    background-color: #25252b;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 7px 7px #3232d5;
    z-index: 100;
    transition: top 0.8s ease-in-out;
}

/* Conteúdo da barra de navegação com alinhamento entre logotipo e menu */
.barra-navegacao > .conteudo-cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logotipo da loja */
.logotipo {
    color: #3232d5;
}

/* Destaque na parte do nome da loja */
.logotipo-destaque {
    color: #fff;
}

/* Estilizando a lista de links de navegação */
nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

/* Cada item de navegação */
nav ul li {
    color: #fff;
    margin-right: 3rem;
    cursor: pointer;
}

/* Estilizando o link da navegação */
nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Botões fixos no cabeçalho, com posição no canto superior direito */
.cabecalho-botoes {
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 101;
    display: flex;
    gap: 10px;
    transition: top 0.8s;
}

/* Estilizando os botões do cabeçalho */
.cabecalho-botoes button {
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.8s ease;
}

/* Efeito de hover nos botões, mudando a cor de fundo */
.cabecalho-botoes button:hover {
    background-color: #25252b;
}

/* Botão de login com fundo verde na barra de navegação */
.botao-login {
    background-color: #4caf50;
}

/* Botão de login com cor de fundo diferente no hover */
.botao-login:hover {
    background-color: #45a049;
}

/* Botão de registrar-se com cor de fundo azul na barra de navegação */
.botao-registrar {
    background-color: #2196f3;
}

/* Botão registrar-se com cor de fundo diferente no hover */
.botao-registrar:hover {
    background-color: #1e88e5;
}

/* Botão cadastrar produto com cor de fundo laranja na barra de navegação*/
.botao-cadastrar-produto {
    background-color: #ff9800;
}

/* Botão cadastrar produto com cor de fundo diferente no hover */
.botao-cadastrar-produto:hover {
    background-color: #e68900;
}

/* Botão deslogar com cor de fundo vermelha na barra de navegação */
.botao-deslogar {
    background-color: #f44336;
}

/* Botão deslogar com cor de fundo diferente no hover */
.botao-deslogar:hover {
    background-color: #d32f2f;
}

/* Cabeçalho fixo na parte superior com sombra */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
    z-index: 100;
}

/* Estilizando a navegação interna dentro da barra */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

/* Logo do site com fonte padrão e cor de texto definida */
.logo {
    font-size: 1.1rem;
    color: var(--text-color);
    font-weight: 400;
}

/* Ícone do carrinho de compras */
#carrinho-icone {
    font-size: 1.8rem;
    cursor: pointer;
    color: #ffffffb7;
}

/* Estilizando o título da seção */
.section-titulo {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}

/* Estilo para a seção de produtos */
.shop {
    margin-top: 2rem;
}

/* Estilo para o grid de produtos, com colunas ajustáveis */
.shop-conteudo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,auto));
    gap: 1.5rem;

}

/* Estilo do box de cada produto */
.produto-box {
    position: relative;
    background-color: rgba(36, 34, 34, 0.437);
}

/* Efeito ao passar o mouse sobre o box de produto (aumenta o padding e adiciona borda) */
.produto-box:hover {
    padding: 10px;
    border: 1px solid var(--text-color);
    transition: 0.7s;
}

/* Imagem do produto ocupa 100% da largura */
.produto-img {
    width: 100;
    height: auto;
    margin-bottom: 0.5rem;
}

/* Estilizando o título do produto */
.produto-titulo {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

/* Estilizando o preço do produto */
.preco {
    font-weight: 500;
    color: #fff;
}

/* Ícone de adicionar ao carrinho com posição absoluta no canto inferior direito */
.add-carrinho {
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--text-color);
    color: var(--bg-color);
    padding: 10px;
    cursor: pointer;
}

/* Efeito de hover no ícone de adicionar ao carrinho */
.add-carrinho:hover {
    background: hsl(249, 32%, 17%);
}